* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
}

#top {
  width: 100%;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1602661287394-ccf02e1a0893?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 50% 60%;
}

#overlay {
  position: relative;
  width: 100%;
  min-height: inherit;
  background-color: rgba(171, 200, 224, 0);
}

#textright {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#textright p {
  font-size: 12px;
  width: 40%;
}

#textright i {
  font-size: 25px;
  color: rgb(151, 230, 230);
}

#text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20%;
  padding: 0 10vw;
  width: 100%;
}

#text h1 {
  font-weight: 500;
  font-size: 6vw;
}

#bottom {
  width: 100%;
  min-height: 40vh;
  background-color: aliceblue;
  display: flex;
}

#one {
  padding: 30px;
  width: 25%;
  min-height: inherit;
  background-color: white;
}
#one p {
  font-size: 12px;
  margin-top: 20px;
}

#two {
  align-items: center;
  min-width: 20vw;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1548783346-61db7a22e9b3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#three {
  width: 20%;
  min-height: inherit;
  background-color: blue;
}

#threetop {
  width: 100%;
  min-height: 20vh;
  background-color: red;
}
#threetop .p {
  margin-top: 15px;
  font-size: 12px;
}

#threebottom {
  width: 100%;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1674157442399-3786dd8c017a?q=80&w=1083&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#four {
  width: 30%;
  min-height: inherit;
  padding: 30px;
  background-color: #444;
  color: white;
}

.notf {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.notf #photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  background-size: cover;
}

.notf p {
  width: 86%;
}

@media (max-width: 500px) {
  #overlay #text {
    flex-direction: column;
    align-items: flex-start;
  }
  #text h1 {
    font-size: 10vw;
  }
  #overlay #text #textright {
    align-items: flex-start;
    flex-direction: column;
  }
  #bottom {
    min-height: 20vh;
  }
  #overlay #text #textright p {
    width: initial;
    margin-top: 20px;
  }
  #overlay #text #textright #icons {
    margin-top: 30px;
  }
  #bottom {
    flex-direction: column;
  }
  #one {
    width: 100%;
  }
  #two {
    width: 100%;
    min-height: 40vh;
  }
  #three {
    flex-direction: column;
    width: 100%;
    min-height: 40vh;
  }
  #four {
    width: 100%;
  }
}
